.header-style {
    top: 0px;
    left: 0px;
    background-color: rgb(201, 7, 7);
    padding: 8px;
    height: 80px;
}

.header-icon-style {
    margin-top: 8px;
    height: 66px;
    margin-left: 60px;
}

.login-style {
    margin-top: 14px;
    height: 46px;
    width: 100px;
    font-family: Poppins, sans-serif;
    color: white;
    float: right;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account-style {
    margin-top: 14px;
    height: 46px;
    width: 200px;
    font-family: Poppins, sans-serif;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 1px;
    padding: 4px;
    float: right;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}