.header-style {
    top: 0px;
    left: 0px;
    background-color: rgb(201, 7, 7);
    padding: 8px;
    height: 80px;
    align-items: center;
}

.header-icon-style {
    height:50px;
    width: 50px;
}

.login-style {
    font-family: Poppins, sans-serif;
    color: white;
    float: right; 
    padding: 3px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.create-account-style {
    font-family: Poppins, sans-serif;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 1px;
    padding: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
}