.header-style {
    background-color: rgb(201, 7, 7);
    padding: 8px;
    height: 30px;
}

.header-icon-style {
    height: 30px;
    margin-left: 60px;
}

.login-style {
    height: 20px;
    width: 100px;
    font-family: Poppins, sans-serif;
    color: white;
    float: right;
    padding: 3px;
}

.create-account-style {
    height: 20px;
    width: 200px;
    font-family: Poppins, sans-serif;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 1px;
    padding: 3px;
    float: right;
    text-align: center;
    margin-right: 5%;
}
