.full-page-style {
    margin: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    height: 900px;
}

.page-title-style {
    margin-left: 70px;
    font-family: Helvetica, sans-serif;
}

.header-style {
    background-color: rgb(201, 7, 7);
    padding: 8px;
    height: 30px;
}

.header-icon-style {
    height: 30px;
    margin-left: 60px;
}

.login-style {
    height: 20px;
    width: 100px;
    font-family: Helvetica, sans-serif;
    color: white;
    float: right;
    padding: 3px;
}

.create-account-style {
    height: 20px;
    width: 200px;
    font-family: Helvetica, sans-serif;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 1px;
    padding: 3px;
    float: right;
    text-align: center;
    margin-right: 5%;
}

.filters-style {
    border-style: outset;
    width: 20%;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 80px;
    font-family: sans-serif;
}


.locations-list-style {
    border-style: outset;
    width: 70%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

.cost-for-2-radio-style {
    font-family: sans-serif;
}

.sort-option-style {
    font-family: sans-serif;
}

.card-style {
    border-style: outset;
    width: 50%;
    margin-left: 30px;
    float: left;
    margin-top: 20px;
    padding: 20px;
}

.card-header-section-style {
    min-height: 100px;
    ;
}

.restaurant-icon-style {
    height: 90px;
    margin-left: 60px;
    float: left;
    margin-top: 20px;
    padding-bottom: 30px;
}

.restaurant-name-style {
    width: 70%;
    margin-left: 15px;
    float: left;
    font-family: Helvetica, sans-serif;
}

.restaurant-address-style {
    width: 60%;
    margin-left: 15px;
    float: left;
    font-family: Helvetica, sans-serif;
    padding: 2px;
}

.restaurant-address-details-style {
    width: 70%;
    margin-left: 10px;
    float: left;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.cuisines-label-style {
    margin-left: 60px;
    font-weight: lighter;
    font-family: sans-serif;
    height: 20px;
    width: 100px;
    color: black;
    float: left;
    padding: 5px;
}

.cuisines-value-style {
    margin-left: 10px;
    font-weight: lighter;
    font-family: sans-serif;
    font-weight: bold;
    height: 20px;
    width: 60%;
    color: black;
    float: left;
    padding: 5px;
}

.cost-for-two-label-style {
    margin-left: 60px;
    font-weight: lighter;
    font-family: sans-serif;
    height: 20px;
    width: 100px;
    color: black;
    float: left;
    padding: 5px;
}

.cost-for-two-value-style {
    margin-left: 10px;
    font-weight: lighter;
    font-family: sans-serif;
    font-weight: bold;
    height: 20px;
    width: 60%;
    color: black;
    float: left;
    padding: 5px;
}

.pagination-style {
    margin-left: 50%;
    margin-top: 700px;
}

.pagination-button-style {
    padding: 10px;
}

.pagination-prev-button-style {
    color: rgb(165, 165, 165);
}

.pagination-next-button-style {
    color: rgb(0, 0, 0);
}