.full-page-style {
    margin: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    height: 900px;
}

.page-title-style {
    margin-left: 70px;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    color: #192f60;
}

.header-style {
    background-color: rgb(201, 7, 7);
    padding: 8px;
    height: 30px;
}

.header-icon-style {
    height: 30px;
    margin-left: 60px;
}

.login-style {
    height: 20px;
    width: 100px;
    font-family: Poppins, sans-serif;
    color: white;
    float: right;
    padding: 3px;
}

.create-account-style {
    height: 20px;
    width: 200px;
    font-family: Poppins, sans-serif;
    color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 1px;
    padding: 3px;
    float: right;
    text-align: center;
    margin-right: 5%;
}

.filters-style {
    border-style: outset;
    width: 20%;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 80px;
    font-family: sans-serif;
}

.filters-label-style {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #191f60;
}

.filter-options-style {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #8c96ab;
}


.locations-list-style {
    border-style: outset;
    width: 70%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #8c96ab;
    line-height: 21px;
}

/* Hide the default checkbox style */
.hide-default-chkbox-container {
    visibility: hidden;    
}

/*Create a container for the chkbox */
.chkbox-container {  
    display: block;  
    position: relative;  
    padding-left: 35px;  
    margin-bottom: 14px;  
    cursor: pointer;  
    font-size: 14px;  
    font-family:Poppins, sans-serif;
    color: #8C96AB;
  }  

/* Create a custom checkbox */  
.custom-chkbox {
    position: absolute;  
    top: 0;  
    left: 0;    
    height: 18px;  
    width: 18px;  
    border-radius: 2px;
    border-color: #3A5075;
    border-style: solid;
    opacity: 1;
  } 

/* Create the mark/indicator (hidden when not checked) */
.custom-chkbox:after {
    content: "";
    position: absolute;
    display: none;
}
  
  
/* Style the tick mark/indicator */
.custom-chkbox:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }

.custom-chkbox:hover {  
    background-color: gray;  
}  

.chkbox-container input:checked ~ .custom-chkbox {  
    background-color: #3A5075;  
}  

/* Show the tick mark */
.chkbox-container input:checked ~ .custom-chkbox:after {  
    display: block;
}  

.cost-for-2-radio-style {
    font-family: Poppins, sans-serif;
    color: #8c96ab;
    line-height: 21px;
    font-size: 14px;
}

.sort-option-style {
    font-family: Poppins, sans-serif;
    color: #8c96ab;
    line-height: 21px;
    font-size: 14px;
}

.card-style {
    border-style: outset;
    width: 50%;
    margin-left: 30px;
    float: left;
    margin-top: 20px;
    padding: 20px;
}

.card-header-section-style {
    min-height: 100px;
    ;
}

.restaurant-icon-style {
    height: 90px;
    margin-left: 60px;
    float: left;
    margin-top: 20px;
    padding-bottom: 30px;
}

.restaurant-name-style {
    width: 70%;
    margin-left: 15px;
    float: left;
    font-family: Poppins, sans-serif;
}

.restaurant-address-style {
    width: 60%;
    margin-left: 15px;
    float: left;
    font-family: Poppins, sans-serif;
    padding: 2px;
}

.restaurant-address-details-style {
    width: 70%;
    margin-left: 10px;
    float: left;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
}

.cuisines-label-style {
    margin-left: 60px;
    font-weight: lighter;
    font-family: Poppins, sans-serif;
    height: 20px;
    width: 100px;
    color: black;
    float: left;
    padding: 5px;
}

.cuisines-value-style {
    margin-left: 10px;
    font-weight: lighter;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    height: 20px;
    width: 60%;
    color: black;
    float: left;
    padding: 5px;
}

.cost-for-two-label-style {
    margin-left: 60px;
    font-weight: lighter;
    font-family: Poppin, sans-serif;
    height: 20px;
    width: 100px;
    color: black;
    float: left;
    padding: 5px;
}

.cost-for-two-value-style {
    margin-left: 10px;
    font-weight: lighter;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    height: 20px;
    width: 60%;
    color: black;
    float: left;
    padding: 5px;
}

.pagination-style {
    margin-left: 50%;
    margin-top: 700px;
}

.pagination-button-style {
    padding: 10px;
}

.pagination-prev-button-style {
    color: rgb(165, 165, 165);
}

.pagination-next-button-style {
    color: rgb(0, 0, 0);
}